/* navigation */
#navbar ul a{
    padding:2px 10px;
    font-size: 1rem;
}
/* home-Section */
/* service-Section */
#service{
    flex-direction: column;
}
.box{
    height: 400px;
}
/* clients-Section */
#clients{
    overflow: hidden;
}
/* End */

/* Utility Function */
.h-primary{
    font-size: 2rem;
}
.h-secondary{
    font-size: 1.5rem;
}
.para{
    font-size: 1.2rem;
}